<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aws.mapper.WindMapper">

    <select id="pageQuery" resultType="com.aws.po.WindTurbine">
        SELECT * FROM wind_turbine
        WHERE region_id = #{regionId}
    </select>
    <select id="getById" resultType="com.aws.po.WindTurbine">
        select * from wind_turbine
        where id = #{id}
    </select>
</mapper>
